# Jebtrains ############################################################################################################

.idea

# CMake ################################################################################################################

cmake-build-*